<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A2 Home page</title>
    <link rel="stylesheet" href="/css/home.css" type="text/css" />
  </head>
  <body>
    <div id="header"><b>Welcome: click the book name to show details</b></div>
    <div id="bookTable">
      <table>
        <% books.forEach(b=> { %>
        <tr>
          <td><a href="/books/<%= b._id %>"><%= b.name %></td>
        </tr>
        <% }); %>
      </table>
    </div>
    <div id="footer"><%- include('partials/navigation') %></div>
  </body>
</html>
